.socialcard *{
    font-size: 16px;
    color: #000;
}
.socialcard .platform__icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff !important;
}
.socialcard .username{
    color: #000;
    font-size: 14px !important;
}
.socialcard .card,
.socialcard .card-footer,
.socialcard .card-body,
.socialcard .card-header{
    border: none;
    border-radius: 0;
    padding: 0;
}
.socialcard .card-footer {
    background-color: #fff;
}
.socialcard .profileimage {
    border-radius: 50px;
    width: 35px !important;
    height: 35px !important;
}
.socialcard .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.8;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    background: #fff
}
.socialcard .rounded-social-buttons .social-button:focus,
.socialcard .rounded-social-buttons .social-button:hover{
    color: #000;
    background: #fff;
    border-color: #fff;
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
}