.socialcard{
    .platform__icon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        i{
            color: #fff;
        }
    }
    .username{
        color: $PrimaryColor;
        font-size: 14px !important;
    }
    .card,
    .card-footer,
    .card-body,
    .card-header{
        border: none;
        border-radius: 0;
        padding: 0;
        & *{
            color: $PrimaryColor !important;
        }
    }
    .card-footer {
        background-color: #fff;
        & *{
            color: $PrimaryColor !important;
            font-size: 16px !important;
        }
    }
    .profileimage {
        width: 35px !important;
        height: 35px !important;
    }
    .rounded-social-buttons{
        .social-button {
            margin-right: 0px;
            width: 50px;
            height: 50px;
            font-size: 24px;
            display: flex;
            position: relative;
            line-height: 50px;
            border-radius: 32px;
            background: $SecondaryColor;
            align-items: center;
            justify-content: center;
            *{
                color: #fff !important;
            }
            &:hover{
                color: $PrimaryColor !important;
                background: #fff;
                border-color: #fff;
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                *{
                    color: $PrimaryColor !important;
                }
            }
            &:focus {
                color: $PrimaryColor !important;
                background: #fff;
                border-color: #fff;
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                *{
                    color: $PrimaryColor !important;
                }
            }
        }
    } 
}
