.socialcard{
    .platform__icon{
        position: absolute;
        top: 1rem;
        right: 1rem;
        i{
            color: $White;
        }
    }
    .username{
        color: $PrimaryColor;
        font-size: 14px !important;
    }
    .card,
    .card-footer,
    .card-body,
    .card-header{
        border: none;
        border-radius: 0;
        padding: 0;
        & *{
            color: $PrimaryColor !important;
        }
    }
    .card-footer {
        background-color: $White;
        & *{
            color: $PrimaryColor !important;
            font-size: 16px !important;
        }
    }
    .profileimage {
        width: 35px !important;
        height: 35px !important;
    }
    .rounded-social-buttons{
        .social-button {
            display: inline-block;
            position: relative;
            cursor: pointer;
            width: 3.125rem;
            height: 3.125rem;
            border: 0.125rem solid transparent;
            padding: 0;
            text-decoration: none;
            text-align: center;
            color: $White;
            font-weight: normal;
            font-size: 22px;
            line-height: 2;
            border-radius: 1.6875rem;
            transition: all 0.5s ease;
            margin-right: 0.25rem;
            margin-bottom: 0.25rem;
            background: $SecondaryColor;
            *{
                color: $White !important;
            }
            &:hover{
                color: $PrimaryColor !important;
                background: $White;
                border-color: $White;
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                *{
                    color: $PrimaryColor !important;
                }
            }
            &:focus {
                color: $PrimaryColor !important;
                background: $White;
                border-color: $White;
                -webkit-transform: rotate(360deg);
                -ms-transform: rotate(360deg);
                    transform: rotate(360deg);
                *{
                    color: $PrimaryColor !important;
                }
            }
        }
    } 
}